[Unit]
Description=docker compose boot
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/ubuntu/sonar
ExecStart=/usr/local/bin/docker-compose -f /home/ubuntu/sonar/docker-compose.yml up -d --remove-orphans
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
