[Unit]
Description=docker compose boot
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/ubuntu/sonar
ExecStart=sudo sysctl -w vm.max_map_count=262144 || /usr/local/bin/docker-compose -f /home/ubuntu/sonar/docker-compose.yml up -d --remove-orphans
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
