[Unit]
Description=docker compose boot
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/home/ubuntu/sonar
ExecStart=sudo sysctl -w vm.max_map_count=262144 || /usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose down
TimeoutStartSec=0
Restart=on-failure
StartLimitIntervalSec=60
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
